<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <style>
    body {
      background-color: #ecedec;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="jumbotron text-center">
    <h1><span class="glyphicon glyphicon-tower"></span></h1>
    <h2>AIK Experience</h2>
  </div>
<h1>Innovación</h1>
  <% exp[1].forEach(function(exp, index) { %>
    <div class="row">
      <div class="col-sm-12">
        <h2><%= exp.nombre %></h2>
        <h4> <%= exp.descripcion %> </h4>
        <img src="<%= exp.imagen %>" height="200" width="300">
      </div>
    </div>
    <% }) %>

    <h1>Sponsors</h1>
  <% exp[0].forEach(function(exp, index) { %>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><%= exp.nombre %></h3>
        </div>
        <div class="panel-body text-center">
          <a href="<%= exp.enlace %>">
            <img src="<%= exp.imagen %>" height="100" width="250">
          </a>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
  <h1>Social Media</h1>
    <% exp[2].forEach(function(exp, index) { %>
      <div class="row">
        <div class="col-sm-12">
          <a href="<%= exp.enlace %>">
            <img src="<%= exp.imagen %>" height="100" width="100">
          </a>
        </div>
      </div>
  <% }) %>

</body>
</html>